body {
  font-family: 'Poppins', sans-serif;
  background-color: rgba(199, 236, 178, 1);
}

.navbar {
  transition: all 0.3s ease-in-out;
  height: 75px;
  background-color: rgba(105, 182, 105, 1);
  color: black;
}

.navbar-brand {
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.nav-link {
  font-weight: 500;
  margin-left: 15px;
  transition: color 0.3s ease;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 20px;
}

#about {
  color: black;
}

#skill , h2{
  text-align: end;
  margin-left: 50px;
}

#contact {
    color: rgb(255, 255, 255);
}

#home {
    background-color: #1e1f23;
    color: white;
}
#home .container .p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    color: rgb(0, 0, 1);
}
.home-text {
  max-width: 600px;
      color: rgb(0, 0, 1);
}


.h1 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.1em;
  font-weight: 600;
}
.p {
  font-size: 0.85em;
  color: white;
}
.p p {
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: #0003;
  border-radius: 1em;
}
