.learners-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px; 
  margin-top: 20px;
}

.learner-card {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 6px 18px rgba(11,22,14,0.06);
  display: flex;
  align-items: flex-start;
  gap: 16px; 
}

.learner-avatar {
  display: flex;
  background: #00932cff;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 60px; 
  height: 60px;
  font-size: 22px; 
}

.learner-name {
  font-size: 17px; 
}

.learner-subject {
  font-size: 14px; 
}